{{#each posts}}
    <div class="card text-center my-4">
    <div class="card-header">
        Featured Post 
    </div>

    <div class="card-body my-3">
        <h5 class="card-title"><a href="/posts/{{id}}" class="link-danger link-underline link-underline-opacity-0">{{title}}</a></h5>
        <p class="card-text">{{content}}</p>
    </div>
    <div class="card-footer text-body-secondary">
    Posted on: {{format_date createdAt}}
    </div>
    </div>
{{/each}}