<div class="container">
  <h1>Login</h1>
<form>
  <div class="mb-3">
    <label for="usernameInput" class="form-label">Username</label>
    <input type="text" class="form-control" id="usernameInput" aria-describedby="usernameHelp">
  </div>
  <div class="mb-3">
    <label for="passwordInput" class="form-label">Password</label>
    <input type="password" class="form-control" id="passwordInput">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/signup" class="mx-3">Sign up instead</a>
</form>
</div>

<script src="/js/login.js"></script>