<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">{{singlePost.title}}</h5>
    <p class="card-text">{{singlePost.content}}</p>
  </div>
  <div class="card-footer text-body-secondary">
    Created by: {{singlePost.user.username}} on {{format_date singlePost.createdAt}}
  </div>
</div>

{{> add-comment}}

{{> comments}}